# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
node_modules/
**/node_modules
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

/coverage
.idea
yarn.lock
package-lock.json
*bak
jsconfig.json
.vscode

# visual studio code
.history
*.log

# screenshot
screenshot
config/config.js

.temp/**
